// COLORS
$bg-gray: #E5E5E5;
$bg-blue: #0B6AB2;
$bg-purple: #4C3572;
$color-white: #FFF;
$color-black: #3A4759;
$color-black-bold: #1D252D;
$color-red: #CC171B;
$color-purple: $bg-purple;
$color-blue: $bg-blue;

// VARIABLES
$border-radius: 8px;
$width-container: 1440px;
$width-inner: 1110px;

//FONTS
$font : 'Poppins', sans-serif;
$font-icon : 'icomoon';